# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
!gradlew
!gradlew.bat
gradle-app.setting

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Mac
**/.DS_Store

# DB stuff
.env
src/main/resources/application.properties